.settings-panel {
    background-color: #292929;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-top: 16px;
  }
  
  .settings-panel .MuiTypography-body1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .settings-slider {
    color: #0d47a1;
  }
  
  .settings-textfield {
    margin-right: 16px;
    width: 100px;
  }
  